@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";
@import "https://npmcdn.com/leaflet@0.7.7/dist/leaflet.css";
@import "https://leaflet.github.io/Leaflet.toolbar/dist/leaflet.toolbar.css";

.leaflet-toolbar-0>li>.leaflet-toolbar-icon {
    display: flex;
    align-items:center;
    justify-content:center;
}


.leaflet-control-toolbar .leaflet-toolbar-1 {
    box-shadow: 0 1px 5px rgba(0,0,0,.65);
}
.leaflet-control-toolbar .leaflet-toolbar-1>li>.leaflet-toolbar-icon {
      display: flex;
      align-items:center;
      justify-content:center;
      background-color: #fff;
			border-right: 1px solid #aaa;
      border-left:none;
			color: #fff;
      width:26px;
      padding:0 !important;
			&:hover { background-color: #f4f4f4; }
}

.leaflet-toolbar-icon i {
  font-size:18px;
  color: rgba(0, 0, 0, 1);
}

.fce-toolbar-disabled {
  display:none;
}

.fce-action-disabled {
  cursor:default !important;
  background-color: #f4f4f4 !important;
  i {
      color: #bbb !important;
  }
}

.fce-subaction-disabled {
  cursor:default !important;
  background-color: #f4f4f4 !important;
  i {
      color: #bbb !important;
  }
}


.fce-marker-edit {
	border: 4px dashed #b2182b;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	box-sizing: content-box;
}
.fce-marker-selected {
	border: 4px dashed #00FFFF;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	box-sizing: content-box;
}