@import "../../node_modules/mocha/mocha.css";
@import "../js/libs/leaflet/leaflet.css";
@import "../../dev/css/fce.css";

//Vars

//Mixins

//General
body {
  background-color: #2C2C2C;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  margin:0 !important;
}

//Map style
#map-container {
  flex-grow: 6;
  margin:0;
  width: 80%
}

//Sidebar
#sidebar{
  padding: 20px 10px 5px;
  background: ghostwhite;
  flex-grow: 2;
  width: 20%;
}

/////ReactJS components/////

// Mock UI active layer
.layer-active {
  background: #B2D7FF !important;
}
div.button {
  margin-bottom:1em !important;
}

// Log console
.log-console {
  background-color: white;
  overflow: hidden;
  height: 450px;
}

.log-content {
  overflow-y: auto;
  max-height: 225px;
}

.log-btn {
  float: left;
  width: 25% !important;
  display: inline-block !important;
  padding: 8px;
 }

.log-btn-response {
  padding-top: 10px;
  padding-left: 25px;
}
